<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="{{ brandImage }}" width="112" height="28">
    </a>

    <a
      (click)="toggleBurger()"
      [class.is-active]="burger.isActive"

      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    [class.is-active]="burger.isActive"
    id="bulma-navbar"
    class="navbar-menu"
  >
    <ng-content></ng-content>
  </div>
</nav>