strong.big {
  font-size: 32px;
  margin: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;

  @media screen and (max-width: 640px) {
    & { flex-direction: column; }
  }
}

.loader-container {
  display: flex;
  width: 70px;
  height: 70px;
  margin: 20px;
}
