/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,700i&display=swap');
@import url('../node_modules/bulma/css/bulma.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');

@import './app/assets/globals.scss';
@import './app/assets/loader.scss';
@import './app/assets/scrollbar.scss';


* {
  font-family: 'Nunito', Helvetica;
}

body, html {
  background-color: $background;
  margin: 0;
  padding: 0;
}

